@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{

    @if(UserManager.GetUserName(User).Equals("admin@gmail.com")){//Admin12.
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Producto" asp-action="Index">Producto</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Reserva" asp-action="Reserva">Reservas</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Personal" asp-action="Personal">Personal</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Contacto" asp-action="Index">Contactenos</a>
        </li> 
    }else{
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Proforma" asp-action="Index">Carrito</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Reserva" asp-action="CrearReserva">Reserva</a>
        </li> 
    }
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Contacto" asp-action="Create">Contacto</a>
    </li> 
}