<div width="1100">
<div class="title">
         <div> <img src="~/img/Privacidad1.jpg" alt="" width="1100" height="500" style="border: solid black; border-radius: 80px"/>
          <h2 style="color: white;">Politicas de privacidad</h2> </div>        
</div>


<div width="500" style="color: white;">
    <h1>PRIVACIDAD</h1>
    <Ul>
        <li>La Empresa no comparte la información de sus clientes, sin su debido consentimiento.</li>
        <li>La Empresa, puede enviar emaíls de noticias, ofertas y promociones sólo y únicamente acerca de nuestra tienda virtual.</li>
        <li>El consumidor/cliente puede aceptar el envío de los mismos o rechazarlos en cualquier momento.</li>
        <li>Al registrarse en nuestro sitio web el cliente contará con un usuario y una contraseña mediante la cuál podrá realizar sus compras en nuestra tienda virtual, y que también podrá cambiarla en cualquier momento.</li>
        <li>En caso de no registrarse, deberá completar los datos que se indican en el formulario de compras con el fin de efectuar su compra virtual como «Invitado».</li>
        <li>Una vez registrado, con su nombre/usuario y contraseña, se le permitirá el acceso confidencial y seguro a la tienda virtual.</li>
        <li>El usuario y contraseña es personal, dicha información y su entrega a terceros no involucra responsabilidad alguna a la Empresa.</li>
    </Ul>
</div>
</div>