
@model inicio.Models.Personal
    

<form asp-controller="Personal" asp-action="EditarPersonal">
    <label asp-for="Nombres" class="control-label"></label>
     <input asp-for="Nombres"  class="form-control" />

     <label asp-for="Apellidos" class="control-label"></label>
     <input asp-for="Apellidos"  class="form-control" />

     <label asp-for="EMAIL" class="control-label"></label>
     <input asp-for="EMAIL"  class="form-control" />

    <label asp-for="DNI" class="control-label"></label>
     <input asp-for="DNI" type="text" class="form-control" />

     <label asp-for="Celular" class="control-label"></label>
     <input asp-for="Celular" type="text" class="form-control" />

    
     <label asp-for="Cargo" class="control-label"></label>
     <input asp-for="Cargo" type="text" class="form-control" />

     <label asp-for="imagen" class="control-label"></label>
     <input asp-for="imagen"  class="form-control" />
     

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Editar</button> 
    </div>              
</form>
<h1>@ViewData["Message"]</h1>