@model inicio.Models.Contacto

<form asp-controller="Contacto" asp-action="Create">
     <label asp-for="Nombre" class="control-label"></label>
     <input asp-for="Nombre" class="form-control" />

     <label asp-for="Email" class="control-label"></label>
     <input asp-for="Email" class="form-control" />

     <label asp-for="Celular" class="control-label"></label>
     <input asp-for="Celular" class="form-control" />

     <label asp-for="Detalles" class="control-label"></label>
     <input asp-for="Detalles" class="form-control" />

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Registrar</button> 
    </div>              
</form>
<h1>@ViewData["Message"]</h1>