@{
    ViewData["Title"] = "Home Page";
}


<!---->
<div class="carrusel">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="~/img/local8.jpg" alt="First slide" width="300" height="400">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="~/img/local5.jpg" alt="Second slide"width="300" height="400">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="~/img/local2.jpg" alt="Third slide"width="300" height="400">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<div>
<h1 class="text-center fs-1" style="margin: 40px; color : white">Bienvenidos</h1>
<div class="cuadrito">
<div class="card mb-3" style="max-width: 940px;">
<div class="row g-0">
  <div class="col-md-4" >
      <img src="~/img/salchipollo1.jpg" alt="..." width="300" height="230"  >
    </div>
      <div class="col-md-8">
        <div class="card-body">
        <p  style="text-align: center; margin-top : 50px" >Catalogado entre los mejores restaurantes turísticos de la ciudad de Arequipa, La Tia Veneno brinda una amplia selección de sabrosos platos típicos; una experiencia que se complementa con hermosos espectáculos</p>
        </div>
      </div>
    </div>
  </div>
</div>
 <hr color="black" size=3>
<div class="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <i><img src="~/img/title.png" alt="#"/></i>
          <h2 style="color: white;">Platos del para el dia de hoy</h2>
          <span style="color: white;">las recomendaciones del chef</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
        <div class="blog_box">
          <div class="blog_img_box">
            <figure><img src="~/img/rocoto.jpg" alt="#"style="height: 300px;"/>
             <span>08-MAY-2021</span>
            </figure>
          </div>
          <h3>Rocoto Relleno</h3>
          <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the </p>
        </div>
      </div>
       <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
        <div class="blog_box">
          <div class="blog_img_box">
            <figure><img src="~/img/triple.jpg" alt="#" style="height: 300px;"/>
             <span>08-MAY-2021</span>
            </figure>
          </div>
          <h3>Triple Americano</h3>
          <p>El mejor plato que se sirve en nuestro restaurante catalogado el mejor plato en arequipa</p>
        </div>
      </div>
       <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="blog_box">
          <div class="blog_img_box">
            <figure><img src="~/img/aguadito1.jpg" alt="#"style="height: 300px;"/>
             <span>08-MAY-2021</span>
            </figure>
          </div>
          <h3>Aguadito</h3>
          <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the </p>
        </div>
      </div>
    </div>
  </div>
</div>
  